.DS_Store
__pycache__/
*.pyc

Data/processed/*
!Data/processed/.gitkeep

Data/vectorstore/*
!Data/vectorstore/.gitkeep
!Data/vectorstore/health_disease_e5_small_embeddings.npy
!Data/vectorstore/health_disease_e5_small_metadata.jsonl

*.pdf
